<nav class="navbar navbar-expand-sm bg-dark navbar-dark p-2">
  <div class="container">
    <a href="app.component.html" class="navbar-brand">Burger Hut</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navCollapser"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5" id="navCollapser">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link" (click)="onLoaded('recipe')"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" (click)="onLoaded('shopping')"
            >Your Shopping List</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-user"></i> Welcome Brad
          </a>
          <div class="dropdown-menu">
            <a href="profile.html" class="dropdown-item">
              <i class="fas fa-user-circle"></i> Profile
            </a>
            <a href="settings.html" class="dropdown-item">
              <i class="fas fa-cog"></i> Settings
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
